[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
aws-xray-sdk = "*"
urllib3 = ">=1.24.2"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pydocstyle = "*"
cfn-lint = "*"
aws-sam-cli = "*"
awscli = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
mock = "*"
Jinja2 = ">=2.10.1"

[requires]
python_version = "3.7"
